.box{
  display: inline-block;
  border: 1px solid #eee;
}
.box:hover{
  background-color: #3399ff;
  border: none;
}
h1{
  text-align: center;
}
#reset{
  display: block;
  margin: 0 auto;
  background-color: #7ac600;
  color: #fff;
  margin-bottom: 10px;
}
#divContainer{
  margin: 0 auto;
}
